@page "/learnblazor/bindprop"

<h3>Product</h3>
Name: @Product.Name <br />
Active: @Product.IsActive <br />
Price: @Product.Price <br />
This Product is: @(Product.IsActive?"Active":"Inactive") <br /><br />

Active: <input type="checkbox" @bind-value="@Product.IsActive" @bind-value:event="oninput" checked="@(Product.IsActive?"checked":null)"/><br />
Price: <input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" />


@code {
    Tangy_Models.LearnBlazorModels.Demo_Product Product = new()
        {
            Id = 1,
            Name = "Rose Candle",
            IsActive = true,
            Price = 10.99
        };
}
